<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for NFC client functionality -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HOST_CARD_EMULATION" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    
    <!-- Permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permission for vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Permission for camera and storage -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Numo"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="33">
        <!-- Onboarding Activity - First Launch -->
        <activity
            android:name="com.electricdreams.numo.feature.onboarding.OnboardingActivity"
            android:exported="true"
            android:label="Numo"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Modern POS Activity - Main App -->
        <activity
            android:name="com.electricdreams.numo.ModernPOSActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Numo"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <!-- Intent filter for NFC tag discovery -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity android:name="com.electricdreams.numo.TopUpActivity"
            android:exported="true"
            android:label="Top Up"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.numo.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.numo.ModernPOSActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- NFC intent filters -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <!-- Payment Request Activity -->
        <activity android:name="com.electricdreams.numo.PaymentRequestActivity"
            android:exported="false"
            android:label="Payment Request"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.numo.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.numo.ModernPOSActivity" />
        </activity>

        <!-- Payment Received Activity -->
        <activity android:name="com.electricdreams.numo.PaymentReceivedActivity"
            android:exported="false"
            android:label="Payment Received"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.numo.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.numo.ModernPOSActivity" />
        </activity>

        <activity android:name=".BalanceCheckActivity"
            android:exported="false"
            android:label="Check Balance"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity" >
            <!-- Parent meta-data for up navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
            <!-- NFC intent filters -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.history.PaymentsHistoryActivity"
            android:exported="false"
            android:label="@string/history_toolbar_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.history.TransactionDetailActivity"
            android:exported="false"
            android:label="@string/transaction_detail_toolbar_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.history.PaymentsHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.history.PaymentsHistoryActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.history.BasketReceiptActivity"
            android:exported="false"
            android:label="@string/basket_receipt_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.history.TransactionDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.history.TransactionDetailActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.ThemeSettingsActivity"
            android:exported="false"
            android:label="@string/settings_theme_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.CurrencySettingsActivity"
            android:exported="false"
            android:label="@string/settings_currency_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.MintsSettingsActivity"
            android:exported="false"
            android:label="@string/settings_mints_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        <activity android:name="com.electricdreams.numo.feature.settings.SecuritySettingsActivity"
            android:exported="false"
            android:label="@string/settings_security_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>

        <activity android:name="com.electricdreams.numo.feature.settings.LanguageSettingsActivity"
            android:exported="false"
            android:label="@string/language_settings_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <!-- PIN Security Activities -->
        <activity android:name="com.electricdreams.numo.feature.pin.PinEntryActivity"
            android:exported="false"
            android:label="Enter PIN"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        
        <activity android:name="com.electricdreams.numo.feature.pin.PinSetupActivity"
            android:exported="false"
            android:label="Set Up PIN"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SecuritySettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SecuritySettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.pin.PinResetActivity"
            android:exported="false"
            android:label="Reset PIN"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.pin.PinEntryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.pin.PinEntryActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.AboutActivity"
            android:exported="false"
            android:label="About"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.DeveloperSettingsActivity"
            android:exported="false"
            android:label="@string/developer_settings_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.SeedPhraseActivity"
            android:exported="false"
            android:label="@string/seed_phrase_toolbar_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SecuritySettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SecuritySettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.RestoreWalletActivity"
            android:exported="false"
            android:label="@string/restore_progress_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SecuritySettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SecuritySettingsActivity" />
        </activity>
        
        <!-- Withdraw Activities -->
        <activity android:name="com.electricdreams.numo.feature.settings.WithdrawLightningActivity"
            android:exported="false"
            android:label="Withdraw"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.MintsSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.MintsSettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.WithdrawMeltQuoteActivity"
            android:exported="false"
            android:label="Confirm Withdrawal"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.WithdrawLightningActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.WithdrawLightningActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.settings.WithdrawSuccessActivity"
            android:exported="false"
            android:label="Withdrawal Complete"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <!-- Item Management Activities -->
        <activity android:name="com.electricdreams.numo.feature.items.ItemEntryActivity"
            android:exported="false"
            android:label="Add Item"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".feature.items.ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemListActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.items.BarcodeScannerActivity"
            android:exported="false"
            android:label="@string/barcode_scanner_title"
            android:theme="@style/Theme.Numo.Fullscreen"
            android:screenOrientation="portrait"
            android:parentActivityName=".feature.items.ItemEntryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemEntryActivity" />
        </activity>
        
        <!-- Reusable QR Code Scanner -->
        <activity android:name="com.electricdreams.numo.feature.scanner.QRScannerActivity"
            android:exported="false"
            android:label="@string/qr_scanner_title"
            android:theme="@style/Theme.Numo.Fullscreen"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.electricdreams.numo.feature.items.ItemListActivity"
            android:exported="false"
            android:label="Items"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.tips.TipsSettingsActivity"
            android:exported="false"
            android:label="Tips"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.tips.TipSelectionActivity"
            android:exported="false"
            android:label="Add a Tip"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.items.ItemSelectionActivity"
            android:exported="false"
            android:label="Checkout"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.items.CheckoutScannerActivity"
            android:exported="false"
            android:label="@string/checkout_scanner_title"
            android:theme="@style/Theme.Numo.Fullscreen"
            android:screenOrientation="portrait"
            android:parentActivityName=".feature.items.ItemSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemSelectionActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.baskets.SavedBasketsActivity"
            android:exported="false"
            android:label="@string/saved_baskets_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.items.ItemSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemSelectionActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.baskets.BasketArchiveActivity"
            android:exported="false"
            android:label="@string/basket_archive_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.baskets.SavedBasketsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.baskets.SavedBasketsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.baskets.BasketNamesSettingsActivity"
            android:exported="false"
            android:label="@string/basket_names_settings_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.numo.feature.autowithdraw.AutoWithdrawSettingsActivity"
            android:exported="false"
            android:label="@string/auto_withdraw_title"
            android:theme="@style/Theme.Numo"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <!-- HCE Service for NDEF tag emulation -->
        <service android:name=".ndef.NdefHostCardEmulationService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list" />
        </service>
        
        <!-- FileProvider for camera image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.electricdreams.numo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
