<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for NFC client functionality -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HOST_CARD_EMULATION" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    
    <!-- Permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permission for vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Permission for camera and storage -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shellshock"
        tools:targetApi="31">
        <!-- Modern POS Activity - Main Launcher -->
        <activity
            android:name="com.electricdreams.shellshock.ModernPOSActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shellshock"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Intent filter for NFC tag discovery -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity android:name="com.electricdreams.shellshock.TopUpActivity"
            android:exported="true"
            android:label="Top Up"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.shellshock.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.shellshock.ModernPOSActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- NFC intent filters -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <!-- Payment Request Activity -->
        <activity android:name="com.electricdreams.shellshock.PaymentRequestActivity"
            android:exported="false"
            android:label="Payment Request"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.shellshock.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.shellshock.ModernPOSActivity" />
        </activity>

        <!-- Payment Received Activity -->
        <activity android:name="com.electricdreams.shellshock.PaymentReceivedActivity"
            android:exported="false"
            android:label="Payment Received"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName="com.electricdreams.shellshock.ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.electricdreams.shellshock.ModernPOSActivity" />
        </activity>

        <activity android:name=".BalanceCheckActivity"
            android:exported="false"
            android:label="Check Balance"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity" >
            <!-- Parent meta-data for up navigation -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
            <!-- NFC intent filters -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.history.PaymentsHistoryActivity"
            android:exported="false"
            android:label="Payments History"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.history.TransactionDetailActivity"
            android:exported="false"
            android:label="Transaction Details"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.history.PaymentsHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.history.PaymentsHistoryActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.settings.CurrencySettingsActivity"
            android:exported="false"
            android:label="Fiat Currency"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.settings.MintsSettingsActivity"
            android:exported="false"
            android:label="Mints"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.settings.ItemsSettingsActivity"
            android:exported="false"
            android:label="Items"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.SettingsActivity" />
        </activity>
        
        <!-- Item Management Activities -->
        <activity android:name="com.electricdreams.shellshock.feature.items.ItemEntryActivity"
            android:exported="false"
            android:label="Add Item"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.items.ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemListActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.items.ItemListActivity"
            android:exported="false"
            android:label="Items Catalog"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.settings.ItemsSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.settings.ItemsSettingsActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.items.ItemSelectionActivity"
            android:exported="false"
            android:label="Select Items"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ModernPOSActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ModernPOSActivity" />
        </activity>
        
        <activity android:name="com.electricdreams.shellshock.feature.items.BasketActivity"
            android:exported="false"
            android:label="Basket"
            android:theme="@style/Theme.Shellshock"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".feature.items.ItemSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.items.ItemSelectionActivity" />
        </activity>
        
        <!-- HCE Service for NDEF tag emulation -->
        <service android:name=".ndef.NdefHostCardEmulationService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list" />
        </service>
        
        <!-- FileProvider for camera image capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.electricdreams.shellshock.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
