<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for NFC client functionality -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    
    <!-- Permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shellshock"
        tools:targetApi="31">
        <!-- Modern POS Activity - Main Launcher -->
        <activity
            android:name=".ModernPOSActivity"
            android:exported="true"
            android:label="Point of Sale"
            android:theme="@style/Theme.Shellshock"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Intent filter for NFC tag discovery -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        
        <!-- Original MainActivity - for NFC functionality -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="NFC Payment"
            android:theme="@style/Theme.Shellshock">
            <!-- Intent filter for NFC tag discovery -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        
        <activity android:name=".ImportProofActivity"
            android:exported="false"
            android:label="Import Proof"
            android:theme="@style/Theme.Shellshock">
        </activity>
        <activity android:name=".TopUpActivity"
            android:exported="false"
            android:label="Top Up"
            android:theme="@style/Theme.Shellshock">
        </activity>
    </application>

</manifest>
